@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Bedfort&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');
@import url("https://fonts.googleapis.com/css?family=ABeeZee");

/* ------------- */
/* Custom Styles */
/* ------------- */
.fixed-header {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  top: 0px;
  z-index: 5;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.content-bg, .notfound-bg {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #E0FBFC;
}

.content-bg::before, .notfound-bg::before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.2;
}

.content-bg::before {
  background-image: url('images/content-bg-3.svg');
}

.notfound-bg::before {
  background-image: url('images/notfound-bg.svg');
}

/* ----------------------- */
/* Bulma Style Alterations */
/* ----------------------- */
.container {
  text-align: center;
}

.input {
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.input:focus {
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  border: 0px;
}

.submit-btn {
  border: none;
  border-radius: 5px;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #EE6C4D;
  padding: 15px 60px;
  margin: 0 auto;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.submit-btn span {
  position: relative;
  z-index: 1;
}

.submit-btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 540%;
  width: 180%;
  background: #293241;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.submit-btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* -------------------- */
/* Channel Profile Card */
/* -------------------- */
.profile {
  display: inline-block;
  border-radius: 10px;
  background: #fff;
  width: 350px;
  margin: 25px;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.profile-header {
  display: flex;
  position: relative;
  justify-content: center;
}

.profile-background-gradient {
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 135px;
  background: -moz-linear-gradient(to bottom, #dfe9f3 0%, white 100%);
  background: -webkit-linear-gradient(to bottom, #dfe9f3 0%, white 100%);
  background: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
}

.profile-image {
  position: absolute;
  bottom: -80px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.profile-content {
  padding-top: 90px;
  text-align: center;
}

.profile-bio {
  padding: 10px 20px;
  min-height: 120px;
}

.profile-name {
  color: #37474F;
  font-size: 28px;
  margin-bottom: 10px;
}

.profile-info {
  line-height: 1.5;
  font-size: 16px;
}

.profile-channel {
  display: flex;
  flex-wrap: wrap;
}

.profile-channel-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 50%;
  padding: 15px 20px;
  background: #ECEFF1;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  transition: 0.2s;
}

.profile-channel-stats:hover {
  background: #CFD8DC;
}

.profile-channel-view-count {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 2px;
}

.profile-channel-visit {
  flex-basis: 100%;
}

.profile-channel-visit-button {
  padding: 20px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  background: #EE6C4D;
  color: #fff;
  font-size: 18px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: 0.2s;
}

.profile-channel-visit-button:hover {
  background: #293241;
  color: #fff;
}

.profile:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

/* -------------------------- */
/* Responsive / Mobile Styles */
/* -------------------------- */
@media screen and (max-width: 768px) {
  .input {
    height: 45px;
  }

  .submit-btn {
    font-size: 12px;
    padding: 15px 40px;
  }

  .submit-btn:after {
    height: 380%;
  }
}

@media screen and (max-width: 430px) {
  .profile {
    width: 280px;
    margin: 25px 10px;
  }

  .profile-name {
    font-size: 24px;
  }

  .profile-info {
    line-height: 1.2;
    font-size: 14px;
  }

  .profile-channel-stats, .profile-channel-stats-data {
    font-size: 14px;
  }

  .profile-channel-visit-button {
    font-size: 16px;
  }
}